body {
  background-color: #ffffee;
  column-count: 2;
  column-rule-style: solid;
  margin: 60px;
  text-align: justify;
  font-family: "Book Antiqua";
}

h1,
h2,
h3 {
  text-transform: uppercase;
}

p {
  margin-bottom: 30px;
}

#sec1 p:first-letter {
  color: red;
  font-size: 75px;
  line-height: 52px;
  font-family: Georgia;
  padding: 0px;
}

section {
  padding: 20px;
  break-inside: avoid;
}

ol li:nth-child(odd) {
  background: gray;
}

ol li:nth-child(even) {
  background: lightgray;
}
