swagger: "2.0"
info:
  description: "API Ristorante"
  version: "0.0.1"
  title: "API Risorante"

host: "tw.cs.unbo.it"
basePath: "/v1"

schemes:
  - "https"
  - "http"

paths:
  # 1. ottenere l'elenco di tutti i menù
  /menus/:
    get:
      responses:
        200:
          description: "OK"
          schema:
            type: array
            items:
              $ref: "#/definitions/Menu"
        400:
          description: "Error"
  # 2. ottenere le informazioni di uno specifico menÃ¹: ID e descrizione, senza
  # elenco piatti
  /menus/{menuId}:
    get:
      parameters:
        - name: menuId
          in: path
          type: integer
          format: int64
          required: true
      responses:
        200:
          description: "OK"
          schema:
              $ref: "#/definitions/Menu"
        400:
          description: "Error"
  # 3. aggiungere un nuovo piatto ad un menù
  /menus/{menuId}/dishes/:
    post:
      parameters:
        - name: menuId
          in: path
          type: integer
          format: int64
          required: true
        - name: dish
          in: body
          schema:
            $ref: "#/definitions/Dish"
          required: true
      responses:
        200:
          description: "OK"
        400:
          description: "Error"

definitions:
  Menu:
    type: object
    required:
      - id
      - title
    properties:
      id:
        type: integer
        format: int64
      title:
        type: string
  Dish:
    type: object
    required:
      - id
      - description
      - price
    properties:
      id:
        type: integer
        format: int64
      description:
        type: string
      price:
        type: number
        format: float
