body {
  font-family: "Courier New";
}

h1 {
  text-align: center;
}

#sec1 {
  background-color: grey;
  text-align: justify;
}

a {
  background-color: red;
  font-size: 150%;
  font-weight: bold;
  letter-spacing: 20px;
  color: black;
}

ol {
  border: 3px blue dashed;
  font-style: italic;
}
